<h1>Visitors#new</h1>
<p>Find me in app/views/visitors/new.html.erb</p>
<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
